{% if files|length > 0 %}
# add source and header files when compiling the given target.
# although it is not necessary to add header files, we also do that for easing the management of IDE.
target_sources(${CURRENT_EXE_NAME}
    PUBLIC
    {% for fname in files %}
        ${CMAKE_CURRENT_LIST_DIR}/{{ fname }}
    {% endfor %}
)

{% endif %}
# add current directory to the compiler included directories when compiling the given target.
target_include_directories(${CURRENT_EXE_NAME} PUBLIC "${CMAKE_CURRENT_LIST_DIR}")

{% if subdirs|length > 0 %}
# load and run the CMake code from subdirectories for current target.
{% for subdir in subdirs %}
include(${CMAKE_CURRENT_LIST_DIR}/{{ subdir }}/CMakeLists.txt)
{% endfor %}
{% endif %}
